<h1 id="toc0">Overview of the <span id="header-project">Project</span> API</h1>
<br />
<div id="project-description"/>
<br />
<div id="namespace-entry">
  <br />
  <hr />
  <h2 id="namespace-tag">Namespace</h2>
  <a id="api-link" href="target">Detailed API documentation</a><br />
  <pre id="namespace-docstr">docstr here</pre>
  <span id="var-link"><a id="var-tag" href="var-tag">var-name</a> </span><br />
  <span id="subspace"><br />Variables and functions in
    <span id="name">subspace name</span>:
    <span id="sub-var-link">
      <a href="var-tag">var-name</a>
    </span>
    <br />
  </span>
</div>
